@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }


    a[href]:after {
      content: none !important;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
    .main-wrapper{
      width: 60%;
      float: left;
      text-align: justify;

    }
    .sidebar-wrapper {
        font-size: 11pt;
        position: static;
        float: right;
        width: 40%;
        height:300%;
        -webkit-print-color-adjust: exact;
        border-left: 1px solid #ccc;
    }

    .main-wrapper  .upper-row {
      margin-bottom: 10px;
    }
    .main-wrapper .job-title, .main-wrapper .degree {
      flex: 75%;
      // width: 100px;
      text-align: left;
      font-size: 13pt;
      float:left
    }
    .main-wrapper .time {
        float: right;
         color: black !important;
         -webkit-print-color-adjust: exact;
         margin-top: -2px;

    }


    .remove-container.container-block {
       display: none;
    }

    footer {
       // display: none;
       display: block;
       clear:both;
       // float:left;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact;
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }


}
